.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
  background-color: #fff !important;
}
.tab-label {
  font-size: 1.5rem !important;
}
.tab-icon {
  font-size: 3rem !important;
}
.tab-view {
  margin-top: 1rem;
}
