:root {
  --primary-light-color: #defcf9;
  --primary-dark-color: #cadefc;
  --secondary-light-color: #c3bef0;
  --secondary-dark-color: #cca8e9;
  /* --secondary-dark-color: #d71313; */
}
.firstName {
  color: var(--secondary-dark-color);
}
.contactButton {
  border: 3px solid var(--secondary-dark-color) !important;
  padding: 12px 32px !important;
  color: var(--secondary-dark-color) !important;
  border-radius: 0.7rem !important;
  width: 16rem;
  height: 3.5rem;
  transition: all 0.2s linear !important;
}
.contactButton:hover {
  background-color: var(--secondary-dark-color) !important;
  color: #fff !important;
  transition: all 0.2s linear !important;
}
.bannerIcons,
.listIcon,
.secondaryText {
  color: var(--secondary-dark-color);
}
.css-1nppm96-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--secondary-dark-color) !important;
}
.footerContainer,
.showcaseButtons {
  background-color: var(--secondary-dark-color) !important;
}
.showcaseButtons {
  border: 1px solid var(--secondary-dark-color) !important;
}
.link-buttons:hover {
  background-color: var(--secondary-dark-color) !important;
  color: #ead1ff;
}
